@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "PT Serif", serif;
  line-height: 1.5;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
}

img {
  width: 100%;
}

h1,
h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

.nav {
  list-style-type: none;
}

a {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

figcaption {
  font-style: italic;
  text-align: center;
}

main figure + p {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote > p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote p strong {
  font-weight: normal;
}

.cite {
  font-size: .8rem;
}

#common + ol {
  list-style-type: lower-greek;
}

#nutritional + p {
  font-style: italic;
}

dt {
  font-weight: bold;
}

aside ul {
  list-style-type: circle;
  font-size: .8rem;
}

footer small {
  font-size: .8rem;
}

footer a {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  text-decoration: none;
  color: #8f2440;
}

footer a:hover {
  text-decoration: underline;
  color: #3f1622;
}

/* Added to make screenshot match = 2% */

h1 {
  margin-top: .63em;
  margin-bottom: .73em;
}

#common,
#tags {
  margin-top: .8em;
  margin-bottom: .87em;
}

#nutritional {
  margin-top: .78em;
  margin-bottom: .87em;
}

figure {
  margin-top: 1.2em;
}

blockquote p {
  margin-top: .97em;
  margin-bottom: 1.05em;
}

#tags + ul {
  margin-bottom: .9em;
}
